.Rproj.user
.Rhistory
.RData
.Ruserdata
result/apple_transit_output.csv
daily-consumption-and-mobility.Rproj
data/apple.csv
result/eatingout_output.csv
result/g1.png
result/g2.png
result/google_station_output.csv
result/transportation_output.csv
data/preprocessed_apple.csv
data/preprocessed_fies.csv
data/preprocessed_google.csv
data/apple_latest.csv
result/g3.png
